
<section>
    <div class="container mt-4">
        <h1 class="text-center">add products</h1>
        <form action="/admin/add-products" method="post" enctype="multipart/form-data" >
            <input type="text" class="form-control" name="name" id="" placeholder="Name"> 
            <input type="text" class="form-control" name="category" id="" placeholder="Category">
            <input type="text" class="form-control" name="price" id="" placeholder="Price">
            <input type="text" class="form-control" name="desc" id="" placeholder="Description">
            <input type="file" class="btn" id="Image"  name="image">
            <input type="submit" value="ADD" class="btn btn-primary">
        </form>
    </div>
</section>