<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

   <a style="margin-left: 20px;" class="navbar-brand" href="#">Amazon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" >
      <a class="nav-item nav-link active" href="/">Products </a>
      <a class="nav-item nav-link" href="#">Carts</a>
      <a class="nav-item nav-link" href="#">Orders</a>
      
    </div>
  </div>
</nav>
</header>